$white: #fffbf9;
$black: #000000;

$green1: #11344a;
$green2: #115e42;
$green3: #6ba772;
$green4: #acd8aa;
$green5: #0dff00;

$blue1: #161a49;
$blue2: #004992;
$blue3: #5c8db8;
$blue4: #8ec6e2;
$blue5: rgb(185, 199, 206);

$purple: #b22ce7;
$purple2: #9900ff;

$bordeaux: #612324;
$red1: #962324;
$red2: #ee312f;
$red3: #f3777a;

$brown: #522915;
$brown2: #8d3c14;

$orange: #e95145;

$yellow1: #f5a000;
$yellow2: #faf06a;

$gray0: #212121;
$gray1: #414042;
$gray2: #6d6e71;
$gray3: #bcbec0;
$gray4: #e6e7e8;

$gold: #90734e;

$silver: #a7a9ac;