<div class="rulesDiv">
    <p>
        &#8250; Le gomoku se joue sur un plateau quadrillé de 19 lignes horizontales et 19 lignes verticales 
        formant, comme un jeu de go, 361 intersections. Le nombre de pions est toutefois nettement 
        inférieur, puisque les joueurs n'en reçoivent que 60, qu'ils posent un à un et à tour de 
        rôle sur les intersections.
    </p>
    <p>
        &#8250; Le joueur qui a choisi ou obtenu par un tirage au sort les pions noirs 
        (et que l'on appelle Noir par convention) joue toujours le premier en plaçant 
        son premier pion sur l'intersection centrale du damier. Blanc doit alors poser 
        son pion sur l'une des 8 intersections adjacentes au pion noir. Noir fait la 
        même chose, et ainsi de suite, le but du jeu étant de prendre l'adversaire de 
        vitesse et de réussir le premier à aligner 5 pions de sa couleur, dans les trois 
        directions possibles : vertical, horizontal ou diagonal.
    </p>
    <p>
        &#8250; Si les deux joueurs placent tous leurs pions sans qu'aucun ne parvienne à réaliser 
        un alignement, le jeu est déclaré nul, et ils recommencent.
        <!-- Une partie se dispute 
        généralement en deux manches, afin que celui qui a commencé avec les noirs ait les 
        blancs la seconde fois. -->
    </p>
    <p>
        &#8250; Vous pouvez capturer des paires (et seulement des paires) de pierres ennemies en bloquant
        les deux côtés d’un alignement de 2 pierres ennemies.
        Si vous parvenez à faire 5 captures (capturant ainsi 10 pierres) vous gagnez instantanément.
    </p>
    <p>
        &#8250; Vous devez respecter la règle des doubles trois, empêchent un joueur de mettre une pierre qui va
        créer au moins deux free-threes. Un free-three est un alignement de 3 pierres de la même couleur qui ne
        sont flanquées ni par une autre pierre (même de la même couleur) ni par le côté de la planche. 
        C’est à noter qu’il peut y avoir un espace vide (et un seul) à l’intérieur de l’alignement des 3 pierres
        et encore être appelé un free-three.
    </p>

</div>